<footer id="footer_app" class="font-small special-color-dark pt-4">
  
  <ul class="list-unstyled list-inline text-center">
  <li class="list-inline-item">
    <div  class="text-center">
      <img src="../static/img/team.png" class="img-circle" alt="icon team" width="40px">
      <h5 class="text-center">Gesdatos</h5>
    </div>
  </li>
  <li class="list-inline-item">
    <div  class="text-center">
      <img src="../static/img/question.png" class="img-circle" alt="icon team" width="40px">
      <h5 class="text-center">Sobre nosotros</h5>
    </div>
  </li>
  <li class="list-inline-item">
    <div  class="text-center">
      <img src="../static/img/email.png" class="img-circle" alt="icon team" width="40px">
      <h5 class="text-center">Contacto</h5>
    </div>
  </li>
  <li class="list-inline-item">
    <div  class="text-center">
      <img src="../static/img/ud.png" class="img-circle" alt="icon team" width="70px">
      <h5 class="text-center">Universidad Distrital</h5>
    </div>
  </li>
  </ul>

</footer>