<div class="row header" id="header_app">
    <div class="col-md-4 col-sm-4 col-lg-4"><img src="../static/img/logo2.png" style="margin-left: 50px;" width="150px" alt="Palliri icon"></div>
    <div class="col-md-8 col-sm-8 col-lg-8" style="padding-top:70px ">
      <span class="text-right text-uppercase align-text-bottom" style="font-family: 'Segoe UI',Arial,sans-serif;letter-spacing: 4px;"> Información de perfiles académicos y laborales de funcionarios públicos de Colombia</span>
    </div>
</div>